name: Add to Project
on:
  issues:
    types: [opened, labeled]
  pull_request:
    types: [opened, labeled]

jobs:
  project:
    runs-on: [self-hosted, linux, x64]

    steps:
    - name: generate token
      id: generate-token
      uses: tibdex/github-app-token@v1.8.0
      with:
        app_id: ${{ vars.APP_ID }}
        private_key: ${{ secrets.APP_PRIVATE_KEY }}

    - name: add issue or pr to project
      uses: actions/add-to-project@v0.5.0
      with:
        project-url: https://github.com/orgs/SwanseaUniversityMedical/projects/6
        github-token: ${{ steps.generate-token.outputs.token }}
